/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  max-width: 1600px;
  background-color: #FFFFFF;
  color: var(--header-section-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.page-header {
  border-bottom: 1px solid #ECECEC;
}
.page-header__page-main-nav {
  display: flex;
  align-items: center;
}

.logo {
  display: inline-block;
  text-decoration: none;
  color: #212121;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo:hover .logo:focus {
  color: #2196F3;
}

.main-nav {
  display: flex;
  align-items: center;
}
.main-nav__site-nav {
  display: flex;
  margin-left: 93px;
}
.main-nav__item + .main-nav__item {
  margin-left: 50px;
}
.main-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-nav__link-studio--activ::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 4px;
}
.main-nav__link-portfolio--activ::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 4px;
}
.main-nav__link-studio--activ .main-nav__link {
  color: #2196F3;
}
.main-nav__site-nav .main-nav__link-portfolio--activ .main-nav__link {
  color: #2196F3;
}
.main-nav__link:hover, .main-nav__link:focus {
  color: #2196F3;
}
.main-nav__site-nav .main-nav__link-studio {
  color: #2196F3;
}
.main-nav__site-nav .main-nav__link-portfolio {
  color: #2196F3;
}

.info-nav {
  display: flex;
  margin-left: auto;
  gap: 50px;
}
.info-nav__item {
  margin-left: auto;
}
.info-nav__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.info-nav__icon-mail, .info-nav__icon-mobile {
  margin-right: 10px;
  fill: currentColor;
}
.info-nav__icon-mail .info-nav__icon-mobile:hover {
  fill: #2196F3;
}
.info-nav__link:hover, .info-nav__link:focus {
  color: #2196F3;
}

.hero {
  padding: 200px 0px;
  text-align: center;
  background-color: #2F303A;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/main-background.jpg);
  background-position: center;
}
.hero__hero-title {
  width: 696px;
  margin: 0px auto 30px;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero__button {
  padding: 10px 30px;
}
.hero__button--button {
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  background-color: #2196F3;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button--button:hover, .hero__button--button:focus {
  opacity: 0.9;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.produce {
  padding-bottom: 0px;
}

.quality-teams {
  visibility: hidden;
  position: absolute;
}

.quality {
  display: flex;
  gap: 30px;
}
.quality__icon {
  display: block;
}
.quality-icon-group {
  display: flex;
  width: 270px;
  height: 120px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
}
.quality__section-title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.quality__section-text {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
}
.quality .quality__section-title + .quality__section-title {
  margin-right: 30px;
}

.section__section-subtitle--section-heading {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.page {
  display: flex;
  gap: 30px;
}
.page__works {
  position: relative;
}
.page__works-applications {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 370px;
  height: 70px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
}

.section-team {
  background-color: #F5F4FA;
  padding: 94px 0px;
}

.player {
  display: flex;
  gap: 30px;
}
.player__card {
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.122), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.player__section-name {
  padding-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.player__section-profession {
  padding-bottom: 16px;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.soc-icons {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  list-style-type: none;
}
.soc-icons__soc-icons-items {
  width: 44px;
  height: 44px;
}
.soc-icons__soc-icons-link {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  color: #AFB1B8;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-icons__soc-icons-link:hover {
  color: #FFFFFF;
  background-color: #2196F3;
}

.icon {
  fill: currentColor;
}

.company {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.company__company-link {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.company__company-link:hover {
  color: #2196F3;
  border-color: #2196F3;
}
.company__company-icon {
  fill: currentColor;
}

.page-footer {
  background-color: #2F303A;
  padding: 60px 0px;
}
.page-footer__footer-social {
  display: flex;
  align-items: baseline;
}

.container-footer__footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: #FFFFFF;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.footer-nav__link {
  text-decoration: none;
  font-style: normal;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-nav__info-link {
  font-style: normal;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-nav__link:hover, .footer-nav__link:focus {
  color: #2196F3;
}
.footer-nav__info-link:hover, .footer-nav__info-link:focus {
  color: #2196F3;
}

.footer-soc-icons {
  display: block;
  width: 206px;
  height: 80px;
  margin-left: 70px;
}
.footer-soc-icons__footer-soc-title {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-soc {
  display: flex;
  gap: 10px;
  align-items: center;
}
.footer-soc__footer-soclink {
  width: 44px;
  height: 44px;
  list-style-type: none;
}
.footer-soc__footer-icons-links {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #FFFFFF;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc__footer-icons-links:hover {
  background-color: #2196F3;
}
.footer-soc .footer-icons {
  fill: currentColor;
}

.subscribe-footer {
  display: block;
  margin-left: 93px;
  width: 570px;
  height: 86px;
}
.subscribe-footer__subscribe-footer-text {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #FFFFFF;
}

.subscribe-footer-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribe-footer-form__subscribe-user {
  margin-right: 12px;
}
.subscribe-footer-form__subscribe-footer-input {
  display: flex;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: rgb(47, 48, 58);
}
.subscribe-footer-form__subscribe-button {
  display: flex;
  min-width: 200px;
  height: 50px;
  padding: 10px;
}
.subscribe-footer-form__fotter-button-icon {
  padding-left: 10px;
  fill: #FFFFFF;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  display: flex;
  justify-content: flex-end;
  padding: 40px 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button-modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #000000;
  background-color: #FFFFFF;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button-modal-close:hover {
  color: #2196F3;
}
.modal__button-modal-close:hover {
  fill: currentColor;
}

.modal-form {
  width: 100%;
}
.modal-form__modal-form-title {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  vertical-align: top;
  color: #212121;
}

.modal-form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.modal-form-field__modal-input-icon {
  display: block;
  position: relative;
  margin-top: 4px;
}
.modal-form-field__modal-input-icon:hover {
  fill: currentColor;
}
.modal-form-field__modal-icon-name {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-field__modal-input:hover + .modal-form-field__modal-icon-name {
  fill: #2196F3;
}
.modal-form-field__modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: rgb(117, 117, 117);
  letter-spacing: 0.01em;
}
.modal-form-field__modal-input {
  display: block;
  width: 100%;
  cursor: pointer;
  margin: 0;
  padding: 12px 0px 12px 42px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-field__modal-input:hover {
  border-color: #2196F3;
}
.modal-form-field__modal-textarea-comment {
  resize: none;
  display: block;
  width: 100%;
  height: 120px;
  cursor: pointer;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  font-size: 12px;
  padding: 12px 16px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-field__modal-textarea-comment:hover {
  border-color: #2196F3;
}

.modal-comment {
  margin-bottom: 20px;
}

.modal-label-checkbox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  line-height: 1.71;
  font-size: 14px;
  text-align: center;
  color: #757575;
}
.modal-label-checkbox__terms {
  color: #2196F3;
}

.checkbox-icon {
  display: block;
  position: absolute;
  top: 45%;
  left: 5px;
  width: 16px;
  height: 15px;
  display: block;
  justify-content: center;
  margin-right: 7px;
  transform: translateY(-50%);
  border: 2px solid #212121;
  border-radius: 2px;
}
.checkbox-icon__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.checkbox-icon__modal-icon-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 15px;
  transform: translate(-13%, -13%);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-icon__checkbox:checked + .checkbox-icon__modal-icon-checkbox {
  opacity: 1;
}

.modal-form__form-button {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px 52px;
  width: 200px;
  height: 50px;
}

.hero-filter {
  padding: 94px 0px;
}

.filter {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
.filter__button-portfolio {
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
  background-color: #F5F4FA;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button-portfolio:focus, .filter__button-portfolio:hover {
  background-color: #2196F3;
  color: #FFFFFF;
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1019607843);
}

.figure {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 33.3333333333%;
  gap: 30px;
}

.products {
  box-sizing: border-box;
}
.products__figure-link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.products__figure-link-website {
  position: relative;
  overflow: hidden;
}
.products__website-resource {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.products__figure-link:hover .products__website-resource {
  opacity: 1;
  transform: translateY(0);
}
.products__elements-products {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
}
.products__figure-link:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.1607843137);
}
.products__figure-title {
  margin-bottom: 4px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.products__figure-text {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}/*# sourceMappingURL=main.css.map */