.main-nav__menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    top: 10px;
    right: 15px;
    padding: 0;
    border: none;
    cursor: pointer;

    width: 40px;
    height: 40px;

    background-color: transparent;
    z-index: 50;

    @media screen and (min-width: $tablet) {
        display: none;
    }

    @media screen and (min-width: $desktop) {
        display: none;
    }
}

.menu-button__icon:hover .menu-button__icon-close-menu {
    fill: $focus-background-color;
}

.menu-button__icon-close-menu {
    display: none;
}

.main-nav__menu-button.is-open .menu-button__icon-close-menu {
    display: block;

}

.main-nav__menu-button.is-open .menu-button__icon-open-menu {
    display: none;
}

