.hero {
    padding: 200px 0px;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #2F303A;

    @media screen and (max-width: 1199.95px) {
        padding: 118px 0;
    }

    @media screen and (max-width: 767.95px) {
        @include retina {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../img/hero/main-back-mob1x.jpg);
        }


        height: 400px;
    }

    @media screen and (min-width: $tablet) {
        @include retina {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../img/hero/main-back-tablet1x.jpg);
        }

        height: 400px;
    }


    @media screen and (min-width: $desktop) {
        @include retina {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../img/hero/main-back-desktop1x.jpg);
        }

        height: 600px;
    }


    &__hero-title {
        @media screen and (max-width: 1199.95px) {
            max-width: 360px;
            font-size: 26px;
            line-height: 1.62;
        }

        width: 696px;
        margin: 0px auto 30px;

        color: $main-text-color;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    }

    &__button {
        @media screen and (max-width: 767.95px) {
            padding: 10px 24px;
        }

        padding: 10px 30px;
    }

    &__button--button {
        justify-content: center;
        align-items: center;

        border: 0;
        border-radius: 4px;
        cursor: pointer;
        background-color: $focus-background-color;

        color: $main-text-color;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.06em;
        text-align: center;

        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__button--button:hover,
    &__button--button:focus {
        opacity: 0.9;
    }
}