.logo {

    @media screen and (max-width: 767.95px) {
        display: block;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    display: block;
    
    text-decoration: none;
    color: $text-color;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    &:hover &:focus {
        color: $focus-background-color;
    }
}
