.logo {
    display: inline-block;

    text-decoration: none;
    color: $text-color;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    &:hover &:focus {
        color: $focus-background-color;
    }

}