.main-nav__menu-button {
    position: relative;

    margin-left: auto;
    border: none;
    background-color: transparent;
    padding: 0;

    width: 40px;
    height: 40px;
    z-index: 500;
    cursor: pointer;
    
    @media screen and (min-width: $tablet) {
        display: none;
    }

}
        .menu-container__icon-close-menu {
            display: none;
        }

        .menu-container__menu-button.is-open .menu-container__icon-close-menu {
            display: block;
        }

        .main-nav__menu-button.is-open .menu-button__icon-open-menu {
            display: none;
        }


        .main-nav__menu-button.is-open .menu-button__icon-open-menu {
            opacity: 0;
        }

        .menu-container__menu-button.is-open .menu-container__icon-close-menu {
            opacity: 1;
        }




.menu-container__icon-close-menu {
    opacity: 0;
    transition: 500ms;
}

.main-nav__menu-button:hover .menu-button__icon-close-menu, 
.main-nav__menu-button:focus .menu-button__icon-close-menu {
    fill: $focus-background-color;
}