.main-nav__menu-button {
    margin-left: auto;
    border: none;
    background-color: transparent;
    padding: 0;

    width: 40px;
    height: 40px;
    
    cursor: pointer;
        
    & .menu-button__icon-close-menu {
        display: none;
    }

    &.is-open .menu-button__icon-close-menu {
        display: block;
    }

    &.is-open .menu-button__icon-open-menu {
        display: none;
    }

    @media screen and (min-width: $tablet) {
        display: none;
    }
}

.main-nav__menu-button:hover .menu-button__icon-close-menu, 
.main-nav__menu-button:focus .menu-button__icon-close-menu {
    fill: $focus-background-color;
}
