.menu-container {
    @media screen and (max-width: 767.95px) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;

        // height: 796px;

        padding: 48px 40px;
        background-color: $main-text-color;

        transform: translateX(100%);

        z-index: 50;
    }

    @media screen and (min-width: $tablet) {
        display: none;
    }

    &.is-open {
        transform: translateX(0);
    }

    .close-menu-button {
        display: flex;
        position: absolute;
        top: 8px;
        right: 8px;
        width: 40px;
        height: 40px;

        border: none;
        background-color: transparent;
        padding: 0;

        z-index: 500;
        cursor: pointer;
    }

    &__menu-button:hover .menu-container__icon,
    &__menu-button:focus .menu-container__icon {
        fill: $focus-background-color;
    }
}

.modal-menu-list__item {
    @media screen and (max-width: 767.95px) {
        margin-bottom: 32px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.modal-menu-list__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $text-color;

    &--current {
        color: $focus-background-color;
    }
}

.modal-menu-contacts {
    @media screen and (max-width: 767.95px) {
        margin-top: 302px;
    }

    &__item {
        @media screen and (max-width: 767.95px) {
            margin-bottom: 32px;

            &:last-child {
                margin-bottom: 0px;
            }
        }
    }

    &__link-tel {
        font-size: 34px;
        font-weight: 500;
        line-height: 1.18;
        letter-spacing: 0.02em;
        color: $focus-background-color;
    }

    &__link-mail {
        font-size: 24px;
        font-weight: 500;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: $secondary-color;
    }
}

.mobile-menu__socials {
    @media screen and (max-width: 767.95px) {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 64px;
    }
}

.mobile-menu__item {
    @media screen and (max-width: 767.95px) {
        padding-left: 10px;
        padding-right: 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.2);

        &:last-child {
            border-right: none;
        }

        &:first-child {
            padding-left: 0;
        }
    }
}

.mobile-menu__link {
    @media screen and (max-width: 767.95px) {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.22;
        letter-spacing: 0.02em;
        color: $focus-background-color;
    }
}