.menu-container {
    display: none;

    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: $main-text-color;
    padding: 48px 40px;
    z-index: 10;

    &.is-open {
        display: flex;
        top: 0;
        overflow: scroll;
        flex-direction: column;
    }
}

.modal-menu-list__item {
    margin-bottom: 32px;
}

.modal-menu-list__item:last-child {
    margin-bottom: 0;
}

.modal-menu-list__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    color: $text-color;

    &--current {
        color: $focus-background-color;
    }
}

.modal-menu-contacts {
    margin-top: auto;

    &__item {
        margin-bottom: 32px;

    &:last-child {
        margin-bottom: 0px;
    }
    }
}

