.main-nav {
    display: flex;
    align-items: center;

    &__site-nav {
            display: flex;
            margin-left: 93px;
        }

    &__item+&__item {
        margin-left: 50px;
    }
    
    &__link {
        position: relative;

        display: block;
        padding-top: 32px;
        padding-bottom: 32px;

        text-decoration: none;
        color: $text-color;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__link-studio--activ::after {
        content: "";

        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;

        background-color: $focus-background-color;
        border-radius: 4px;
    }

    &__link-portfolio--activ::after {
        content: "";

        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;

        background-color: $focus-background-color;
        border-radius: 4px;
    }

    &__link-studio--activ &__link {
        color: #2196F3;
    }

    &__site-nav &__link-portfolio--activ &__link {
        color: #2196F3;
    }

    &__link:hover,
    &__link:focus {
        color: $focus-background-color;
    }

        &__site-nav &__link-studio {
    color: $focus-background-color;
    }

        &__site-nav &__link-portfolio {
    color: $focus-background-color;
    }
}
