.page-header {
    border-bottom: 1px solid #ECECEC;   
    
        &__page-main-nav {
            position: relative;

            @media screen and (min-width: 768px) {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            
        }
}
