.page-header {
    border-bottom: 1px solid #ECECEC;   

    @media screen and (max-width: 767.95px) {
            padding-top: 16px;
            padding-bottom: 16px;
        }
    
        // &__page-main-nav {
        //         @media screen and (max-width: 767.95px) {
        //             display: flex;
        //             align-items: center;
        //             justify-content: space-between;
        //         }
        // }
}
