.page-header {
    // @media screen and (min-width: $mobile) {
        
    // }

    // @media screen and (min-width: $tablet) {

    // }

    @media screen and (min-width: $desktop) {
        border-bottom: 1px solid #ECECEC;

        &__page-main-nav {
            display: flex;
            align-items: center;
        }
    }
    
}