.section-subtitle-page {
    @media screen and (max-width: 1199px) {
            display: none;
        }
}
.section__section-subtitle {
    @media screen and (max-width: 1199px) {
            display: none;
        }

    @media screen and (min-width: $desktop) {
        margin-bottom: 50px;

        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
    }
}

.page {

    @media screen and (max-width: 767.95px) {
        display: none;
    }
    
    @media screen and (min-width: $tablet) {
        display: none;
    }

    @media screen and (min-width: $desktop) {
        display: flex;
            gap: 30px;
        
            &__works {
                position: relative;
            }
        
            &__works-applications {
                display: flex;
                align-items: center;
                justify-content: center;
        
                position: absolute;
                bottom: 0px;
                left: 0px;
        
                width: 370px;
                height: 70px;
        
                font-size: 14px;
                font-weight: 700;
                line-height: 1.14;
                text-transform: uppercase;
        
                color: $main-text-color;
                background-color: rgba(47, 48, 58, 0.8);
            }
    }
}