.section__section-subtitle--section-heading {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.page {
    display: flex;
    gap: 30px;

    &__works {
        position: relative;
    }

    &__works-applications {
        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        bottom: 0px;
        left: 0px;

        width: 370px;
        height: 70px;

        font-size: 14px;
        font-weight: 700;
        line-height: 1.14;
        text-transform: uppercase;

        color: $main-text-color;
        background-color: rgba(47, 48, 58, 0.8);
    }
}