.section-team {
    background-color: #F5F4FA;
    padding: 94px 0px;
}

.player {
    display: flex;
    gap: 30px;

    &__card {
        background-color: $main-text-color;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.122), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }
    
    &__section-name {
        padding-top: 30px;
        margin-bottom: 10px;

        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
    }

    &__section-profession {
        padding-bottom: 16px;

        color: $secondary-color;

        font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
    }
}