.figure {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(100% /3);
    gap: 30px;
}

.products {
    box-sizing: border-box;

    &__figure-link {
            display: block;
            text-decoration: none;
            transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        &__figure-link-website {
            position: relative;
            overflow: hidden;
        }
    
        &__website-resource {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
    
            background-color: rgba(33, 150, 243, 0.9);
    
            color: $main-text-color;
            font-weight: 400;
            font-size: 18px;
            line-height: 1.56;
            padding: 63px 24px;
    
            transform: translateY(100%);
            opacity: 0;
    
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
                opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
    
        &__figure-link:hover &__website-resource {
            opacity: 1;
            transform: translateY(0);
        }
    
        &__elements-products {
            padding: 20px 24px;
            border: 1px solid #EEEEEE;
            border-top: none;
        }
    
        &__figure-link:hover {
            box-shadow: 1px 4px 6px 0px #00000029;
        }
    
        &__figure-title {
            margin-bottom: 4px;
            color: $text-color;
            font-weight: 700;
            font-size: 18px;
            line-height: 2;
            letter-spacing: 0.06em;
        }
    
        &__figure-text {
            color: $secondary-color;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.88;
        }

}
