.hero-filter {
    padding: 94px 0px;
}

.filter {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;

    &__button-portfolio {
            border: 0;
            border-radius: 4px;
            padding: 6px 22px;
    
            background-color: $button-group-color;
            color: $text-color;
    
            font-weight: 500;
            font-size: 16px;
            line-height: 1.63;
            text-align: center;
            font-family: inherit;
    
            cursor: pointer;
    
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        &__button-portfolio:focus,
        &__button-portfolio:hover {
            background-color: $focus-background-color;
            color: $main-text-color;
            box-shadow: 0px 3px 1px 0px #0000001A;
        }
}